/* Write your CSS here */
.match-card-container {
  background-color: #0f172a;
  height: 400px;
  width: 250px;
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-logo {
  height: 200px;
  width: 150px;
}
.team-name {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: 500;
}
.team-result {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
}
.team-status {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 500;
}
.Won {
  color: #18ed66;
}
.Lost {
  color: #e31a1a;
}
