/* Write your CSS here */
.home-card-container {
  height: 100vh;
  width: 100vw;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ipl-logo {
  height: 100px;
  width: 100px;
}
.ipl-heading {
  color: #ffffff;
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: 300;
}
.bottom-card-container {
  min-height: 100%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.unordered-list-items {
  max-width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
